{% extends 'base.html.twig' %}

{% block title %}Connexion
{% endblock %}

{% block body %}
	{% include 'widget/nav.html.twig' %}
	{% include 'widget/_flash.html.twig' %}
	<header>
		<section class="container mt-5 mb-5">
			<div class="row" style="height:60vh;">
				<div class="col d-flex justify-content-center align-items-center">
					<h1>Reinitialisation du mot de passe :</h1>
					{{ form_start(resetPassForm) }}
					{{ form_row(resetPassForm.password) }}
					<button type="submit" class="btn btn-primary">Confirmer</button>
					{{ form_end(resetPassForm) }}
				</div>
			</div>
		</section>
	</header>

	{% include 'widget/footer.html.twig' %}

{% endblock %}