<!DOCTYPE html>
<html>
	<head>
		<meta charset="UTF-8">
		<meta name="viewport" content="width=device-width, initial-scale=1.0">
		<title>
			{% block title %}{% endblock %}- Site marchand
		</title>
		<meta name="viewport" content="width=device-width, initial-scale=1.0">
		<link rel="stylesheet" href="{{asset('assets/css/bootstrap.min.css')}}"> {% block stylesheets %}{% endblock %}
		<link rel="stylesheet" href="{{asset('assets/css/style.css')}}">

		<script type="text/javascript" src="{{asset('assets/js/bootstrap.bundle.min.js')}}" defer></script>
		{% block javascripts %}{% endblock %}
		<script type="text/javascript" src="{{asset('assets/js/app.js')}}" defer></script>
		<script src="https://cdn.jsdelivr.net/npm/sweetalert2@11"></script>

	</head>
	<body>
		{% block body %}{% endblock %}
	</body>
</html>
